.container {
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.box {
    background-color:black;
    width:1000px;
    height:600px;
    margin-left:auto;
}   
 .tools-container {
    width:200px;
    height:600px;

 }
